{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome{% endblock title %}
{% block body %}
<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">EAD's PIZZA</a>
    <a class='btn btn-danger' href='loginuser.html'>Login</a>
  </div>
</nav>
{% for message in messages%}
<p style="text-align:center"> {{message}} </p> {%endfor%}
<div id='background-container'>

<div class='container' style=" padding:40px;position:absolute;top:50px;right:25px;width:350px;height:350px; background-color:orange">
<h2 style='color:white; text-align:center; '> SignUp! </h2>
<form method='POST' action='/signupuser/'>
{% csrf_token %}
<input style="margin-top:11px;" class='form-control' placeholder='Name' type='text' name='fname'>
<input style="margin-top:11px;" class='form-control' placeholder='Phone' type='phone' name='phone'>
<input style="margin-top:11px;"  class='form-control' placeholder='Username' type='text' name='username'>
<input style="margin-top:11px;" class='form-control' placeholder='Password' type='password' name='password'>
<input   class='btn btn-success' type='submit' class='form-control' style='width:50%;display:block;margin:auto;margin-top:21px' value='SignUp'>
</form>


</div>

</div>

{% endblock %}